* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

nav {
  height: 10vh;
}

img {
  height: 8vh;

}

.topright {
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 18px;
  width: 100%;
  text-align: center;
  font-size: 18px;
}

.containerc {
  position: relative;
}

.center {
  position: absolute;
  top: right;
}

#Lernwebseite_style {
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: url('background_ma.jpg');
  /* Pfad zum Bild */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1 {
  font-family: century 'Franklin Gothic Medium', 'Arial Narrow', Arial, serif;
  color: rgb(16, 15, 15)
}

h3 {
  font-family: century 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(18, 18, 18);
}

h4 {
  color: rgb(18, 18, 18)
}

h6 {
  color: rgb(18, 18, 18);
}

p {
  font-size: 15px;
}

/* CSS-Regeln für das Container-Div */
#formeln_style {
  width: 80%;
  margin: 0 auto;
  /* Zentriert das Div horizontal auf der Seite */
  background-color: #f0f0f0;
  padding: 20px;
  border: 1px solid #ddd;
}

.Tipps_style {
  background-color: #c5ccf1;
}

#abschnitt1 {
  text-align: center;
  font-size: 28px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(0, 0, 0);
  border: solid;
  border-radius: 10px;
  max-width: fit-content;
  margin-left: 40%;
  margin-top: 10px;
  background-color: rgba(255, 161, 187, 0.567);

}

#inform {
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;

}

body {

  background-color: rgb(255, 0, 179);
  background-size: 100%;

}

#inform_d {
  border: solid black;
  border-radius: 20px;
  max-width: fit-content;
  margin-left: 25%;
  background-color: rgb(128, 255, 212, 0.75);

}

#mail_ccca {
  color: black;

}

li {
  color: black;
  text-decoration: none;
  margin: 5%;
}

a {
  color: black;
  text-decoration: none;
}