* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}


.containerc {
  position: relative;
}

.center {
  position: absolute;
  top: right;
}

#Lernwebseite_style {
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: url('background_ma.jpg');
}

#formeln_style {
  width: 80%;
  margin: 0 auto;
  background-color: #f0f0f0;
  padding: 20px;
  border: 1px solid #ddd;
}

.Tipps_style {
  background-color: #c5ccf1;
}

#abschnitt1 {
  text-align: center;
  font-size: 28px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(0, 0, 0);
  border: solid;
  border-radius: 10px;
  max-width: fit-content;
  margin-left: 40%;
  margin-top: 10px;
  background-color: rgba(255, 161, 187, 0.567);

}

#inform {
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;

}

#inform_d {
  border: solid black;
  border-radius: 20px;
  max-width: fit-content;
  margin-left: 25%;
  background-color: rgb(128, 255, 212, 0.75);

}

#mail_ccca {
  color: black;

}

@media(min-width : 991px) {
  li {
    color: black;
    text-decoration: none;
    margin: 5%;
  }
}



a {
  color: black;
  text-decoration: none;
}

#centered {
  text-align: center;
}

#zuerimap {
  background-color: rgb(204, 225, 232);
}

#tipps {
  background-color: rgb(217, 210, 236);
}

#kontakt {
  background-color: rgb(220,
      242,
      234);
}