* {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

nav {
  height: 90px;
  width: 100%;
  background-color: white;

  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0, 144);
}

nav ul {
  float: right;
}

nav li {
  display: inline-block;
  margin-top: 30px;
  margin-right: 40px;
}

nav li a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  color: #333;
  text-decoration: none;
}

nav ul li .active {
  color: cornflowerblue;
}

nav img {
  height: 50px;
  position: absolute;
  top: 2.9%;
  transform: translate(0%, -50%);
  margin-left: 30px;
}

image.container {
  position: relative;
}

.topright {
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 18px;
  width: 100%;
  text-align: center;
  font-size: 18px;
}

.containerc {
  position: relative;
}

.center {
  position: absolute;
  top: right;
}

#Lernwebseite_style {
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: url('background_ma.jpg');
  /* Pfad zum Bild */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: rgb(245, 245, 249);
}

h1 {
  font-family: century 'Franklin Gothic Medium', 'Arial Narrow', Arial, serif;
  color: rgb(16, 15, 15)
}

h3 {
  font-family: century 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(18, 18, 18);
}

h4 {
  color: rgb(18, 18, 18)
}

h6 {
  color: rgb(18, 18, 18);
}

p {
  font-size: 15px;
}

body {
  background-color: rgb(240, 155, 109);
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.container {
  display: flex;
      justify-content: space-between;
      background-color: lightgray;
      padding: 20px;
}

#contact_us {
  margin-left: 10;
  padding: 11px;
  font-size: 33px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-;
  text-align:center;


}

img {
  max-width: 100%;
  height: auto;
}

.contact {
  order: 2px solid black;
      padding: 20px;
      text-align: center;
}

#mailto_cu {
  text-decoration:none;
  color:black;

}
